.main{
    width: 100%;
    height: 800px;
    background: black;
    margin: 0px;
    padding: 0px;

}

#meone {
    position: relative;
    background-color: white;
    text-align: center;
    font-family: 'Lobster', cursive;
    font-size: 16px;
    margin-right: auto;
    margin-left: auto;
    width: 80%;
    border: solid 1px;
    top: 20px;
    margin-bottom: 40px;
    box-shadow: 5px 3px 5px black;
    padding: 10px;
}



#mesecone {
    position: relative;
    margin: auto;
    align-content: center;
    text-align: center;
}

#metwo {
    position: relative;
    background-color: white;
    text-align: center;
    font-family: 'Lobster', cursive;
    font-size: 16px;
    margin-right: auto;
    margin-left: auto;
    width: 80%;
    border: solid 1px;
    top: 20px;
    margin-bottom: 40px;
    box-shadow: 5px 3px 5px black;
    padding: 10px;
}



#mesectwo {
    position: relative;
    margin: auto;
    align-content: center;
    text-align: center;
}


.pic {
    position: relative;
    width: 260px;
    height: 260px;
    border: solid 3px black;
    margin: 0 auto;
    margin: 20px;
    box-shadow: 5px 3px 5px black;
}



a.fancybox img {
    border: none;
    box-shadow: 0 1px 7px rgba(0,0,0,0.6);
    -o-transform: scale(1,1); -ms-transform: scale(1,1); -moz-transform: scale(1,1); -webkit-transform: scale(1,1); transform: scale(1,1); -o-transition: all 0.2s ease-in-out; -ms-transition: all 0.2s ease-in-out; -moz-transition: all 0.2s ease-in-out; -webkit-transition: all 0.2s ease-in-out; transition: all 0.2s ease-in-out;

    position: relative;
    width: 290px;
    height: 290px;
    border: solid 2px black;
    margin: 0 auto;
    margin: 20px;


}
a.fancybox:hover img {
    position: relative; z-index: 0; -o-transform: scale(1.01,1.01); -ms-transform: scale(1.03,1.03); -moz-transform: scale(1.03,1.03); -webkit-transform: scale(1.03,1.03); transform: scale(1.03,1.03);
    box-shadow: 5px 3px 5px black;
}


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px){
  a.fancybox {

      margin: 50px;
  }
}

@media only screen and (min-width : 992px){
    a.fancybox {

        margin: 50px;
    }
}





.parallax {
    /* The image used */
    background-image: url("wood-pattern-ground-parquet-floor.jpg");

    /* Set a specific height */
    min-height: 1050px;
    position: relative;
    top: 60px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 90%;
    margin: auto;
    border-radius: 100px;
    margin-bottom: 30px;
    margin-top: 10px;
    border: solid black 3px;
}

.Pparallax {
    /* The image used */
    background-image: url("wood-pattern-ground-parquet-floor.jpg");

    /* Set a specific height */
    min-height: 1050px;
    position: relative;
    top: 80px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 90%;
    margin: auto;
    border-radius: 100px;
    margin-bottom: 30px;
    margin-top: 20px;
    border: solid black 3px;
    text-align: center;
}

#Proj1{
    position: relative;

    top: 80px;
    margin-top: 25px;
    margin: 100px;
    margin: auto;
    width: 400px;
    height: 400px;
    border: solid black 5px;
}

#Proj2{
    position: relative;
    top: 80px;
    margin-top: 25px;
    margin: 40px;
    margin: auto;
    width: 400px;
    height: 400px;
    border: solid black 5px;
}

.parallaxCON {
    /* The image used */
    background-image: url("wood-pattern-ground-parquet-floor.jpg");

    /* Set a specific height */
    min-height: 75px;
    position: relative;
    top: 50px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    margin: auto;
}



.CForm {
    text-align: center;

    padding: 10px;
    width: 60%;
    margin: auto;
    font-family: 'Lobster', cursive;

}

#submitB {
    background-color: rgba(0, 0, 0, 0.75) ;
    color: white;
    border: none;
    border-radius: 15px;
    width: 60px;
    height: 30px;
    font-size: 13px;
    margin: 5px;
}


#resetB {
    background-color: rgba(0, 0, 0, 0.75) ;
    color: white;
    border: none;
    border-radius: 15px;
    width: 60px;
    height: 30px;
    font-size: 13px;
    margin: 5px;
}

#submitB:hover {
    background-color: darkgray;
}

#resetB:hover {
    background-color: darkgray;
}

#Email {
    width: 56%;
    text-align: center;
}

#FirstName {
    width: 56%;
    text-align: center;
}

#LastName {
    width: 56%;
    text-align: center;
}


.MTitle {
    font-family: 'Lobster', cursive;
    width: 80%;
    background-color: white;
    text-align: center;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 20px;
    position: relative;
    top: 55px;
}

.ConTitle {
    font-family: 'Lobster', cursive;
    width: 60%;
    position: relative;
    background-color: white;
    border-style: solid;
    border-width: 3px;
    text-align: center;
    margin: auto;
    top: 6px;
    margin-top: 50px;
    margin-bottom: 5px;
}

.menu{
    text-align: center;
}
.hub{
     background-color: black;
     /*opacity: 0.8;*/
     width: 100%;
     height: 80px;
     left: 0px;
     top: 0px;
    margin-bottom: 10px;
     padding: 0px;
     position: fixed;
     z-index: 1;




 }
ul.topnav {
    list-style-type: none;
    margin: 0;
    margin-bottom: 5px;
    padding: 0;
    overflow: hidden;
    width: 100%;
    position: relative;
    top: 7px;


}
li {
    float: left;
}

li a {
    display: block;
    color: black;
    padding: 10px;
    text-decoration: none;
}


ul.topnav li a {
    display: inline-block;
    margin-left: 10px;
    color: white;
    text-align: center;
    text-decoration: none;
    font-family: 'Lobster', cursive;
    font-size: 30px;
    transition: .5s;


}


ul.topnav li a:hover:not(icon) {

    /*opacity: 0.8;*/
    color: white;
    text-decoration: underline overline;
}



ul.topnav li.icon {
    display: none;
}

@media only screen and (max-width:1000px) {
    ul.topnav li:not(:first-child) {
        display: none;}

    ul.topnav li.icon {
        float: right;
        right: 10px;
        top: 5px;
        position: fixed;
        display: inline-block;


    }
}

@media only screen and (max-width:1000px) {
    ul.topnav.responsive {
        position: relative;
    }

    ul.topnav.responsive li.icon {
        position: fixed;

    }

    ul.topnav.responsive li {
        float: none;
        display: inline;
    }

    ul.topnav.responsive li a {
        display: block;
        text-align: left;
        background-color: black;
        opacity: 0.8;



    }
}

.PTitle {

    font-family: 'Lobster', cursive;
    width: 80%;
    background-color: white;
    text-align: center;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 20px;
    position: relative;
    padding: 5px;
    top: 10px;
    border-radius: 10px;
    border: solid black 1px;
}

.RTitle {

    font-family: 'Lobster', cursive;
    width: 80%;
    background-color: white;
    text-align: center;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 20px;
    position: relative;
    top: 50px;
    border-radius: 10px;

}




/* resume styling */

#ResumeHM{
    position: relative;
    border: solid;
    text-align: center;
    padding: 5px;
    padding-left: 85px;
    padding-top: 0px;
    width: 75%;
    margin: auto;
    top: 50px;

}

#downhead {
   font-family: 'Lobster', cursive;
    text-align: center;
    font-size: 35px;
    text-decoration: underline;
}

#ResDown {

    border: solid black 2px;
    border-radius: 10px;
    background-color: darkgray;
    color: Black;
    text-decoration: none;
    margin: auto;
    margin: 40px;
    position: relative;
    top: 120px;
    padding: 10px;
}

.parallaxDOWN{

    /* The image used */
    background-image: url("wood-pattern-ground-parquet-floor.jpg");

    /* Set a specific height */
    min-height: 200px;
    position: relative;
    top: 70px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 70%;
    margin: auto;
    border-radius: 50px;
    margin-bottom: 20px;
    text-align: center;
    border: solid black 3px;
}

#down{
    text-align: center;
}

#ResDown:hover {
    background-color: white;
}

.lst-kix_list_14-1>li:before{content:"o  "}
.lst-kix_list_14-3>li:before{content:"\0025cf  "}
ul.lst-kix_list_1-0{list-style-type:none}
.lst-kix_list_14-0>li:before{content:"\0025cf  "}
.lst-kix_list_14-4>li:before{content:"o  "}
.lst-kix_list_14-5>li:before{content:"\0025aa  "}
.lst-kix_list_14-7>li:before{content:"o  "}
.lst-kix_list_14-6>li:before{content:"\0025cf  "}
ul.lst-kix_list_9-3{list-style-type:none}
ul.lst-kix_list_9-4{list-style-type:none}
ul.lst-kix_list_9-1{list-style-type:none}
ul.lst-kix_list_9-2{list-style-type:none}
ul.lst-kix_list_9-7{list-style-type:none}
ul.lst-kix_list_9-8{list-style-type:none}
ul.lst-kix_list_9-5{list-style-type:none}
ul.lst-kix_list_9-6{list-style-type:none}
.lst-kix_list_1-3{list-style-type:none}
ul.lst-kix_list_1-4{list-style-type:none}
ul.lst-kix_list_1-1{list-style-type:none}
.lst-kix_list_1-2{list-style-type:none}
ul.lst-kix_list_1-7{list-style-type:none}
ul.lst-kix_list_9-0{list-style-type:none}
ul.lst-kix_list_1-8{list-style-type:none}
ul.lst-kix_list_1-5{list-style-type:none}
.lst-kix_list_14-2>li:before{content:"\0025aa  "}
ul.lst-kix_list_1-6{list-style-type:none}
.lst-kix_list_14-8>li:before{content:"\0025aa  "}
.lst-kix_list_5-0>li:before{content:" "}
.lst-kix_list_5-3>li:before{content:" "}
.lst-kix_list_5-2>li:before{content:" "}.lst-kix_list_5-1>li:before{content:" "}.lst-kix_list_5-7>li:before{content:" "}ul.lst-kix_list_8-4{list-style-type:none}ul.lst-kix_list_8-5{list-style-type:none}.lst-kix_list_5-6>li:before{content:" "}.lst-kix_list_5-8>li:before{content:" "}ul.lst-kix_list_8-2{list-style-type:none}ul.lst-kix_list_8-3{list-style-type:none}ul.lst-kix_list_8-8{list-style-type:none}ul.lst-kix_list_8-6{list-style-type:none}ul.lst-kix_list_8-7{list-style-type:none}.lst-kix_list_5-4>li:before{content:" "}.lst-kix_list_5-5>li:before{content:" "}ul.lst-kix_list_8-0{list-style-type:none}ul.lst-kix_list_8-1{list-style-type:none}.lst-kix_list_6-1>li:before{content:"o  "}.lst-kix_list_6-3>li:before{content:"\0025cf  "}.lst-kix_list_6-0>li:before{content:"\0025cf  "}.lst-kix_list_6-4>li:before{content:"o  "}.lst-kix_list_6-2>li:before{content:"\0025aa  "}.lst-kix_list_6-8>li:before{content:"\0025aa  "}.lst-kix_list_6-5>li:before{content:"\0025aa  "}.lst-kix_list_6-7>li:before{content:"o  "}.lst-kix_list_6-6>li:before{content:"\0025cf  "}.lst-kix_list_2-7>li:before{content:" "}.lst-kix_list_7-4>li:before{content:" "}.lst-kix_list_7-6>li:before{content:" "}.lst-kix_list_2-5>li:before{content:" "}.lst-kix_list_7-2>li:before{content:" "}ul.lst-kix_list_3-7{list-style-type:none}ul.lst-kix_list_3-8{list-style-type:none}.lst-kix_list_10-1>li:before{content:" "}.lst-kix_list_13-7>li:before{content:"o  "}ul.lst-kix_list_3-1{list-style-type:none}ul.lst-kix_list_3-2{list-style-type:none}.lst-kix_list_7-8>li:before{content:" "}ul.lst-kix_list_3-0{list-style-type:none}ul.lst-kix_list_3-5{list-style-type:none}ul.lst-kix_list_3-6{list-style-type:none}ul.lst-kix_list_3-3{list-style-type:none}ul.lst-kix_list_3-4{list-style-type:none}.lst-kix_list_10-7>li:before{content:" "}.lst-kix_list_10-5>li:before{content:" "}.lst-kix_list_10-3>li:before{content:" "}ul.lst-kix_list_11-7{list-style-type:none}ul.lst-kix_list_11-6{list-style-type:none}.lst-kix_list_4-1>li:before{content:"\0025cb  "}ul.lst-kix_list_11-5{list-style-type:none}ul.lst-kix_list_11-4{list-style-type:none}ul.lst-kix_list_11-3{list-style-type:none}ul.lst-kix_list_11-2{list-style-type:none}ul.lst-kix_list_11-1{list-style-type:none}ul.lst-kix_list_11-0{list-style-type:none}.lst-kix_list_9-2>li:before{content:" "}.lst-kix_list_4-3>li:before{content:"\0025cf  "}.lst-kix_list_4-5>li:before{content:"\0025a0  "}.lst-kix_tdshri4iay6h-3>li:before{content:"\0025cf  "}ul.lst-kix_list_11-8{list-style-type:none}.lst-kix_tdshri4iay6h-1>li:before{content:"\0025cb  "}.lst-kix_list_9-0>li:before{content:" "}.lst-kix_list_9-6>li:before{content:" "}.lst-kix_list_9-4>li:before{content:" "}.lst-kix_list_11-3>li:before{content:" "}ul.lst-kix_list_2-8{list-style-type:none}.lst-kix_list_12-3>li:before{content:" "}.lst-kix_list_11-5>li:before{content:" "}.lst-kix_list_12-1>li:before{content:" "}ul.lst-kix_list_2-2{list-style-type:none}ul.lst-kix_list_2-3{list-style-type:none}ul.lst-kix_list_2-0{list-style-type:none}ul.lst-kix_list_2-1{list-style-type:none}.lst-kix_list_9-8>li:before{content:" "}ul.lst-kix_list_2-6{list-style-type:none}.lst-kix_list_1-1>li:before{content:"o  "}ul.lst-kix_list_2-7{list-style-type:none}.lst-kix_list_11-7>li:before{content:" "}ul.lst-kix_list_2-4{list-style-type:none}ul.lst-kix_list_2-5{list-style-type:none}ul.lst-kix_list_10-0{list-style-type:none}.lst-kix_list_1-3>li:before{content:"\0025cf  "}.lst-kix_list_13-3>li:before{content:"\0025cf  "}ul.lst-kix_list_10-8{list-style-type:none}ul.lst-kix_list_10-7{list-style-type:none}.lst-kix_list_1-7>li:before{content:"o  "}ul.lst-kix_list_10-6{list-style-type:none}ul.lst-kix_list_10-5{list-style-type:none}ul.lst-kix_list_10-4{list-style-type:none}ul.lst-kix_list_10-3{list-style-type:none}.lst-kix_list_1-5>li:before{content:"\0025aa  "}ul.lst-kix_list_10-2{list-style-type:none}ul.lst-kix_list_10-1{list-style-type:none}.lst-kix_list_13-5>li:before{content:"\0025aa  "}.lst-kix_list_12-5>li:before{content:" "}.lst-kix_list_12-7>li:before{content:" "}.lst-kix_list_2-1>li:before{content:" "}.lst-kix_list_2-3>li:before{content:" "}.lst-kix_list_13-1>li:before{content:"o  "}.lst-kix_list_3-0>li:before{content:" "}ul.lst-kix_list_5-7{list-style-type:none}ul.lst-kix_list_5-8{list-style-type:none}.lst-kix_list_3-1>li:before{content:" "}.lst-kix_list_3-2>li:before{content:" "}ul.lst-kix_list_5-5{list-style-type:none}ul.lst-kix_list_5-6{list-style-type:none}.lst-kix_list_8-1>li:before{content:" "}.lst-kix_list_8-2>li:before{content:" "}.lst-kix_list_3-5>li:before{content:" "}ul.lst-kix_list_5-0{list-style-type:none}.lst-kix_list_3-4>li:before{content:" "}ul.lst-kix_list_5-3{list-style-type:none}.lst-kix_list_3-3>li:before{content:" "}ul.lst-kix_list_5-4{list-style-type:none}ul.lst-kix_list_5-1{list-style-type:none}.lst-kix_list_8-0>li:before{content:" "}ul.lst-kix_list_5-2{list-style-type:none}.lst-kix_list_8-7>li:before{content:" "}ul.lst-kix_tdshri4iay6h-4{list-style-type:none}ul.lst-kix_tdshri4iay6h-5{list-style-type:none}.lst-kix_list_3-8>li:before{content:" "}ul.lst-kix_tdshri4iay6h-2{list-style-type:none}ul.lst-kix_tdshri4iay6h-3{list-style-type:none}.lst-kix_list_8-5>li:before{content:" "}ul.lst-kix_tdshri4iay6h-0{list-style-type:none}ul.lst-kix_tdshri4iay6h-1{list-style-type:none}.lst-kix_list_8-6>li:before{content:" "}.lst-kix_list_8-3>li:before{content:" "}ul.lst-kix_list_13-5{list-style-type:none}ul.lst-kix_list_13-4{list-style-type:none}ul.lst-kix_list_13-3{list-style-type:none}.lst-kix_list_3-6>li:before{content:" "}ul.lst-kix_list_13-2{list-style-type:none}ul.lst-kix_list_13-1{list-style-type:none}.lst-kix_list_3-7>li:before{content:" "}ul.lst-kix_list_13-0{list-style-type:none}.lst-kix_list_8-4>li:before{content:" "}.lst-kix_list_11-2>li:before{content:" "}ul.lst-kix_list_13-8{list-style-type:none}.lst-kix_list_11-1>li:before{content:" "}ul.lst-kix_list_13-7{list-style-type:none}ul.lst-kix_list_13-6{list-style-type:none}.lst-kix_list_11-0>li:before{content:" "}.lst-kix_list_8-8>li:before{content:" "}.lst-kix_list_4-8>li:before{content:"\0025a0  "}.lst-kix_list_4-7>li:before{content:"\0025cb  "}ul.lst-kix_list_4-8{list-style-type:none}.lst-kix_tdshri4iay6h-5>li:before{content:"\0025a0  "}ul.lst-kix_list_4-6{list-style-type:none}ul.lst-kix_list_4-7{list-style-type:none}.lst-kix_tdshri4iay6h-6>li:before{content:"\0025cf  "}.lst-kix_tdshri4iay6h-7>li:before{content:"\0025cb  "}ul.lst-kix_list_4-0{list-style-type:none}ul.lst-kix_list_4-1{list-style-type:none}.lst-kix_tdshri4iay6h-8>li:before{content:"\0025a0  "}ul.lst-kix_list_4-4{list-style-type:none}ul.lst-kix_tdshri4iay6h-8{list-style-type:none}ul.lst-kix_list_4-5{list-style-type:none}ul.lst-kix_list_4-2{list-style-type:none}ul.lst-kix_tdshri4iay6h-6{list-style-type:none}ul.lst-kix_list_4-3{list-style-type:none}ul.lst-kix_tdshri4iay6h-7{list-style-type:none}ul.lst-kix_list_12-6{list-style-type:none}ul.lst-kix_list_12-5{list-style-type:none}ul.lst-kix_list_12-4{list-style-type:none}ul.lst-kix_list_12-3{list-style-type:none}ul.lst-kix_list_12-2{list-style-type:none}ul.lst-kix_list_12-1{list-style-type:none}ul.lst-kix_list_12-0{list-style-type:none}ul.lst-kix_list_12-8{list-style-type:none}ul.lst-kix_list_12-7{list-style-type:none}.lst-kix_list_7-0>li:before{content:" "}.lst-kix_list_2-6>li:before{content:" "}.lst-kix_list_2-4>li:before{content:" "}.lst-kix_list_2-8>li:before{content:" "}.lst-kix_list_7-1>li:before{content:" "}.lst-kix_list_7-5>li:before{content:" "}.lst-kix_list_7-3>li:before{content:" "}ul.lst-kix_list_7-5{list-style-type:none}.lst-kix_list_10-0>li:before{content:" "}ul.lst-kix_list_7-6{list-style-type:none}ul.lst-kix_list_7-3{list-style-type:none}ul.lst-kix_list_7-4{list-style-type:none}.lst-kix_list_13-6>li:before{content:"\0025cf  "}.lst-kix_list_13-8>li:before{content:"\0025aa  "}ul.lst-kix_list_7-7{list-style-type:none}ul.lst-kix_list_7-8{list-style-type:none}ul.lst-kix_list_7-1{list-style-type:none}ul.lst-kix_list_7-2{list-style-type:none}ul.lst-kix_list_7-0{list-style-type:none}.lst-kix_list_7-7>li:before{content:" "}.lst-kix_list_10-4>li:before{content:" "}.lst-kix_list_10-8>li:before{content:" "}.lst-kix_list_4-0>li:before{content:"\0025cf  "}.lst-kix_list_10-2>li:before{content:" "}.lst-kix_list_4-4>li:before{content:"\0025cb  "}.lst-kix_tdshri4iay6h-4>li:before{content:"\0025cb  "}.lst-kix_list_4-2>li:before{content:"\0025a0  "}.lst-kix_list_4-6>li:before{content:"\0025cf  "}.lst-kix_tdshri4iay6h-2>li:before{content:"\0025a0  "}.lst-kix_list_9-3>li:before{content:" "}.lst-kix_tdshri4iay6h-0>li:before{content:"\0025cf  "}.lst-kix_list_10-6>li:before{content:" "}.lst-kix_list_9-1>li:before{content:" "}.lst-kix_list_9-7>li:before{content:" "}.lst-kix_list_11-4>li:before{content:" "}.lst-kix_list_12-4>li:before{content:" "}.lst-kix_list_9-5>li:before{content:" "}ul.lst-kix_list_6-6{list-style-type:none}ul.lst-kix_list_6-7{list-style-type:none}ul.lst-kix_list_6-4{list-style-type:none}ul.lst-kix_list_6-5{list-style-type:none}ul.lst-kix_list_6-8{list-style-type:none}.lst-kix_list_12-2>li:before{content:" "}.lst-kix_list_11-6>li:before{content:" "}.lst-kix_list_1-0>li:before{content:"\0025cf  "}ul.lst-kix_list_6-2{list-style-type:none}.lst-kix_list_11-8>li:before{content:" "}ul.lst-kix_list_6-3{list-style-type:none}.lst-kix_list_1-2>li:before{content:"\0025aa  "}ul.lst-kix_list_6-0{list-style-type:none}.lst-kix_list_12-0>li:before{content:" "}ul.lst-kix_list_6-1{list-style-type:none}.lst-kix_list_1-4>li:before{content:"o  "}.lst-kix_list_13-0>li:before{content:"\0025cf  "}ul.lst-kix_list_14-4{list-style-type:none}ul.lst-kix_list_14-3{list-style-type:none}ul.lst-kix_list_14-2{list-style-type:none}.lst-kix_list_13-4>li:before{content:"o  "}ul.lst-kix_list_14-1{list-style-type:none}ul.lst-kix_list_14-0{list-style-type:none}.lst-kix_list_1-6>li:before{content:"\0025cf  "}ul.lst-kix_list_14-8{list-style-type:none}ul.lst-kix_list_14-7{list-style-type:none}.lst-kix_list_2-0>li:before{content:" "}.lst-kix_list_12-6>li:before{content:" "}ul.lst-kix_list_14-6{list-style-type:none}ul.lst-kix_list_14-5{list-style-type:none}.lst-kix_list_1-8>li:before{content:"\0025aa  "}.lst-kix_list_2-2>li:before{content:" "}.lst-kix_list_13-2>li:before{content:"\0025aa  "}.lst-kix_list_12-8>li:before{content:" "}ol{margin:0;padding:0}table td,table th{padding:0}.c22{border-right-style:solid;padding:0pt 5.8pt 0pt 5.8pt;border-bottom-color:#000000;border-top-width:0pt;border-right-width:0pt;border-left-color:#000000;vertical-align:top;border-right-color:#000000;border-left-width:0pt;border-top-style:solid;border-left-style:solid;border-bottom-width:0pt;width:191.6pt;border-top-color:#000000;border-bottom-style:solid}.c21{border-right-style:solid;padding:0pt 5.8pt 0pt 5.8pt;border-bottom-color:#000000;border-top-width:0pt;border-right-width:0pt;border-left-color:#000000;vertical-align:top;border-right-color:#000000;border-left-width:0pt;border-top-style:solid;border-left-style:solid;border-bottom-width:0pt;width:486.7pt;border-top-color:#000000;border-bottom-style:solid}.c25{border-right-style:solid;padding:0pt 5.8pt 0pt 5.8pt;border-bottom-color:#000000;border-top-width:0pt;border-right-width:0pt;border-left-color:#000000;vertical-align:top;border-right-color:#000000;border-left-width:0pt;border-top-style:solid;border-left-style:solid;border-bottom-width:0pt;width:116.2pt;border-top-color:#000000;border-bottom-style:solid}.c10{border-right-style:solid;padding:0pt 5.8pt 0pt 5.8pt;border-bottom-color:#000000;border-top-width:0pt;border-right-width:0pt;border-left-color:#000000;vertical-align:top;border-right-color:#000000;border-left-width:0pt;border-top-style:solid;border-left-style:solid;border-bottom-width:0pt;width:154.7pt;border-top-color:#000000;border-bottom-style:solid}.c8{border-right-style:solid;padding:0pt 5.8pt 0pt 5.8pt;border-bottom-color:#000000;border-top-width:0pt;border-right-width:0pt;border-left-color:#000000;vertical-align:top;border-right-color:#000000;border-left-width:0pt;border-top-style:solid;border-left-style:solid;border-bottom-width:0pt;width:256.6pt;border-top-color:#000000;border-bottom-style:solid}.c1{border-right-style:solid;padding:0pt 5.8pt 0pt 5.8pt;border-bottom-color:#000000;border-top-width:0pt;border-right-width:0pt;border-left-color:#000000;vertical-align:top;border-right-color:#000000;border-left-width:0pt;border-top-style:solid;border-left-style:solid;border-bottom-width:0pt;width:75.5pt;border-top-color:#000000;border-bottom-style:solid}.c41{border-right-style:solid;padding:0pt 5.8pt 0pt 5.8pt;border-bottom-color:#000000;border-top-width:0pt;border-right-width:0pt;border-left-color:#000000;vertical-align:top;border-right-color:#000000;border-left-width:0pt;border-top-style:solid;border-left-style:solid;border-bottom-width:0pt;width:140.4pt;border-top-color:#000000;border-bottom-style:solid}.c0{padding-top:12pt;padding-bottom:0pt;line-height:1.0;page-break-after:avoid;orphans:2;widows:2;text-align:left}.c17{padding-top:0pt;padding-bottom:0pt;line-height:1.0;orphans:2;widows:2;text-align:left;height:11pt}.c11{color:#000000;font-weight:700;text-decoration:none;vertical-align:baseline;font-size:11pt;font-family:"Arial";font-style:normal}.c4{margin-left:18pt;padding-top:6pt;padding-bottom:0pt;line-height:1.0;orphans:2;widows:2;text-align:left}.c20{margin-left:0pt;padding-top:0pt;list-style-position:inside;text-indent:45pt;padding-bottom:0pt;line-height:1.0;text-align:left}.c3{color:#000000;font-weight:700;text-decoration:none;vertical-align:baseline;font-size:14pt;font-family:"Arial";font-style:normal}.c14{margin-left:18pt;padding-top:6pt;padding-bottom:0pt;line-height:1.0;orphans:2;widows:2;text-align:right}.c5{color:#000000;font-weight:400;text-decoration:none;vertical-align:baseline;font-size:11pt;font-family:"Arial";font-style:normal}.c9{padding-top:0pt;padding-bottom:0pt;line-height:1.0;orphans:2;widows:2;text-align:right;height:11pt}.c12{padding-top:6pt;padding-bottom:0pt;line-height:1.0;orphans:2;widows:2;text-align:left}.c43{margin-left:18pt;padding-top:12pt;padding-bottom:0pt;line-height:1.0;text-align:left}.c2{padding-top:0pt;padding-bottom:0pt;line-height:1.15;text-align:left;height:11pt}.c24{margin-left:18pt;padding-top:6pt;padding-bottom:3pt;line-height:1.0;text-align:left}.c30{font-size:14pt;font-family:"Arial";color:#000000;font-weight:700}.c34{font-size:16pt;font-family:"Arial";font-style:italic;color:#333399}.c35{padding-top:6pt;padding-bottom:3pt;line-height:1.0;text-align:center}.c27{padding-top:6pt;padding-bottom:3pt;line-height:1.0;text-align:left}.c26{padding-top:0pt;padding-bottom:0pt;line-height:1.0;text-align:left}.c47{margin-left:-5.8pt;border-spacing:0;border-collapse:collapse;margin-right:auto}.c40{padding-top:36pt;padding-bottom:0pt;line-height:1.0}.c33{font-size:11pt;font-family:"Arial";font-weight:400}.c16{page-break-after:avoid;orphans:2;widows:2}.c28{padding-top:0pt;padding-bottom:0pt;line-height:1.0}.c7{font-size:12pt;font-family:"Arial";font-weight:700}.c29{font-size:9pt;font-family:"Arial";font-weight:400}.c31{background-color:#ffffff;max-width:468pt;padding:36pt 72pt 72pt 72pt}.c44{color:#0000ff;text-decoration:underline}.c19{orphans:2;widows:2}.c45{font-size:12pt;font-weight:400}.c13{font-size:12pt;font-family:"Arial"}.c6{padding:0;margin:0}.c42{font-size:11pt;font-family:"Arial"}.c37{color:inherit;text-decoration:inherit}.c38{color:#000000}.c49{height:24pt}.c23{height:11pt}.c46{padding-bottom:36pt}.c32{font-weight:700}.c18{height:0pt}.c36{font-style:italic}.c48{font-size:12pt}.c15{height:30pt}.c39{height:58pt}.title{padding-top:24pt;color:#000000;font-weight:700;font-size:36pt;padding-bottom:6pt;font-family:"Arial";line-height:1.0;page-break-after:avoid;orphans:2;widows:2;text-align:left}.subtitle{padding-top:18pt;color:#666666;font-size:24pt;padding-bottom:4pt;font-family:"Georgia";line-height:1.0;page-break-after:avoid;font-style:italic;orphans:2;widows:2;text-align:left}li{color:#000000;font-size:11pt;font-family:"Arial"}p{margin:0;color:#000000;font-size:11pt;font-family:"Arial"}h1{padding-top:12pt;color:#000000;font-weight:700;font-size:14pt;padding-bottom:0pt;font-family:"Arial";line-height:1.0;page-break-after:avoid;orphans:2;widows:2;text-align:left}h2{padding-top:0pt;color:#333399;font-weight:700;font-size:16pt;padding-bottom:0pt;font-family:"Arial";line-height:1.0;page-break-after:avoid;font-style:italic;orphans:2;widows:2;text-align:left}h3{padding-top:14pt;color:#000000;font-weight:700;font-size:14pt;padding-bottom:4pt;font-family:"Arial";line-height:1.0;page-break-after:avoid;orphans:2;widows:2;text-align:left}h4{padding-top:12pt;color:#000000;font-weight:700;font-size:12pt;padding-bottom:2pt;font-family:"Arial";line-height:1.0;page-break-after:avoid;orphans:2;widows:2;text-align:left}h5{padding-top:11pt;color:#000000;font-weight:700;font-size:11pt;padding-bottom:2pt;font-family:"Arial";line-height:1.0;page-break-after:avoid;orphans:2;widows:2;text-align:left}h6{padding-top:10pt;color:#000000;font-weight:700;font-size:10pt;padding-bottom:2pt;font-family:"Arial";line-height:1.0;page-break-after:avoid;orphans:2;widows:2;text-align:left}


