.main{
    width: 100%;
    height: 800px;
    background: black;
    margin: 0px;
    padding: 0px;

}

.parallax {
    /* The image used */
    background-image: url("wood-pattern-ground-parquet-floor.jpg");

    /* Set a specific height */
    min-height: 400px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.parallaxCON {
    /* The image used */
    background-image: url("wood-pattern-ground-parquet-floor.jpg");

    /* Set a specific height */
    min-height: 75px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 90%;
    margin: auto;
}

.hub{
    background-color: white;
    opacity: 0.8;
    width: 100%;
    height: 50px;
    left: 0px;
    top: 0px;
    margin: 0px;
    padding: 0px;
    position: fixed;
    z-index: 1;

}

.CForm {
    text-align: center;
    padding: 10px;
    width: 60%;
    margin: auto;
    font-family: 'Permanent Marker', cursive;

}

#submitB {
    background-color: rgba(0, 0, 0, 0.75) ;
    color: white;
    border: none;
    border-radius: 15px;
    width: 60px;
    height: 30px;
    font-size: 13px;
    margin: 5px;
}


#resetB {
    background-color: rgba(0, 0, 0, 0.75) ;
    color: white;
    border: none;
    border-radius: 15px;
    width: 60px;
    height: 30px;
    font-size: 13px;
    margin: 5px;
}

#submitB:hover {
    background-color: darkgray;
}

#resetB:hover {
    background-color: darkgray;
}

#Email {
    width: 56%;
    text-align: center;
}

#FirstName {
    width: 56%;
    text-align: center;
}

#LastName {
    width: 56%;
    text-align: center;
}

ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
    position: relative;
    top: -3px;
}

.MTitle {
    font-family: 'Permanent Marker', cursive;
    width: 80%;
    background-color: white;
    border-style: solid;
    border-width: 3px;
    text-align: center;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 10px;
}

.ConTitle {
    font-family: 'Permanent Marker', cursive;
    width: 60%;
    position: relative;
    background-color: white;
    border-style: solid;
    border-width: 3px;
    text-align: center;
    margin: auto;
    top: 6px;
    margin-top: 50px;
    margin-bottom: 5px;
}

.menu{
    text-align: center;
}
li {
    float: left;
}

li a {
    display: block;
    color: black;
    padding: 10px;
    text-decoration: none;
}


ul.topnav li a {
    display: inline-block;
    color: black;
    text-align: center;
    text-decoration: none;

    font-family: 'Permanent Marker', cursive;
    font-size: 25px;
    transition: .5s;

}

ul.topnav li a:hover {

    opacity: 0.8;
    color: rgba(0, 0, 0, 0.56);
    text-decoration: underline;

}

ul.topnav li.icon {display: none;}

@media screen and (max-width:690px) {
    ul.topnav li:not(:first-child) {
        display: none;}

    ul.topnav li.icon {
        right: 10px;
        top: 5px;
        position: fixed;
        display: inline-block;


    }
}

@media screen and (max-width:690px) {
    ul.topnav.responsive {

    }

    ul.topnav.responsive li.icon {
        position: fixed;
        right: 10px;
        top: 5px;

    }

    ul.topnav.responsive li {
        float: none;
        display: inline;
    }

    ul.topnav.responsive li a {
        display: block;
        text-align: left;
        background-color: white;
        opacity: 0.8;

    }
}